<div class="portrait" data-balloon="Hello! Make sure to checkout each section to learn more." data-balloon-pos="right" data-balloon-length="medium">
</div>

<div class = "center_box">
	<div class="pure-g">
		<div class="pure-u-1-6" data-balloon="Whats up!" data-balloon-pos="up">
			<h1>Title</h1>
		</div>
		<div class="pure-u-1">
			<p class="about-text">Text a book or other written or printed work, regarded in terms of its content rather than its physical form.
"a text that explores pain and grief"
synonyms:	book, work, written work, printed work, document
"a text that explores pain and grief"
2.
the main body of a book or other piece of writing, as distinct from other material such as notes, appendices, and illustrations.
"the pictures are clear and relate well to the text"
synonyms:	words, wording, writing; Mor
</p>
		</div>

  <div id="container" class="container">
    <ul id="scene" class="scene border">
      <li class="layer" data-depth="1.00"><div style="border: 5px solid red; height: 200px; width: 200px; background-color: red;">

      	<div data-depth="0.80" style="border: 5px solid blue; height: 180px; width: 180px; margin: 5px auto; background-color: blue;">
      		<div style="border: 5px solid violet; height: 150px; width: 150px; margin: 10px auto; background-color: violet;"></div>

      	</div>


      </div></li>
{{!--       <li class="layer" data-depth="0.80"><img src="{{assets}}/img/layer2.png"></li>
      <li class="layer" data-depth="0.60"><img src="{{assets}}/img/layer3.png"></li>
      <li class="layer" data-depth="0.40"><img src="{{assets}}/img/layer4.png"></li>
      <li class="layer" data-depth="0.20"><img src="{{assets}}/img/layer5.png"></li>
      <li class="layer" data-depth="0.00"><img src="{{assets}}/img/layer6.png"></li> --}}
    </ul>
  </div>

<script src="{{assets}}/js/parallax.js"></script>

{{!-- To create parallax effect--}}
  <script>
	var scene = document.getElementById('scene');
	var parallax = new Parallax(scene);

  </script>

  {{!-- 
	C
	Java
	HTML
	CSS
	Javascript


  --}}